<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <b>Oops!</b> Looks like you may not have enough pennies to spend. <%= link_to "Create a new post", new_user_post_path(current_user.id) %> to earn more!
</div>