<ul class="list-group">
	<% @posts.each do |post| %>
			<li class="list-group-item"><h3><%= post.title %></h3>
			<%= link_to "View", view_path(post.id) %><br/>
			<b>View count: <%= post.post_viewers.count %></b>
			</li><br/>
	<% end %>
</ul>