<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>
  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu sodales libero. Integer pretium eleifend fringilla. Phasellus a vestibulum mi, non luctus est. Quisque non nulla luctus, cursus purus sed, pretium erat. Fusce porttitor tincidunt nisl sit amet imperdiet. Etiam consequat congue est sed posuere. Pellentesque vehicula tristique elementum. Mauris gravida nulla quis felis maximus, a lobortis mi luctus. Etiam sodales tincidunt iaculis.
  </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>