<h2><%= @posts.count %> Posts containing keyword: '<%= @keyword %>'</h2>
<p>For user browsing - this lists all post except for those already viewed by the user. Posts created by the user is displayed in gray.</p>

<%= render 'posts_list' %>