<% if user_signed_in? %>
	<div class="page-header">
	  <h3>All Posts</h3>
	</div>
	<%= render_penny_alert current_user %>
<% else %>
	<%= render 'posts/welcome_message' %>
<% end %>

<%= render 'posts/posts_list' %>
