<div class="page-header">
  <% if params[:format] === 'most_views' %>
		<h3>Sort By Views</h3>
	<% elsif params[:format] === 'most_likes' %>
		<h3>Sort By Likes</h3>
	<% else %>
		<h3>Sort Search</h3>
	<% end %>
</div>

<%= render 'shared/penny_alert' %>
<%= render 'posts_list' %>